<div>
  <a href="#" {{action 'toggleEmbed'}}><img src={{item.video.thumbnail}} alt={{item.video.title}}></a>
  <div>
    <p class="title"><a href="https://www.youtube.com/watch?v={{item.video.apiId}}">{{item.video.title}}</a></p>
    <p><span title={{item.video.duration}}>{{moment-duration item.video.duration 'seconds'}}</span> long, published <span title={{moment item.video.publishedAt}}>{{moment-from-now item.video.publishedAt interval=60000}}</span></p>
    {{#if item.new}}
      <p><a href="#" {{action 'markLater'}}>Watch Later</a> &middot; <a href="#" {{action 'destroy'}}>Ignore</a></p>
    {{else}}
      <p><a href="#" {{action 'destroy'}}>Watched</a></p>
    {{/if}}
  </div>
</div>
{{#if embed}}
  <div>
    <iframe width="640" height="360" src="https://www.youtube.com/embed/{{item.video.apiId}}?version=3&amp;rel=0&amp;autoplay=1" frameborder="0" allowfullscreen></iframe>
  </div>
{{/if}}
