{{title titleNotification}}

{{#portal-content for="menu-bar-extras"}}
  <a href="#" {{action "toggleSorting"}}>{{svg-icon name="sliders"}}</a>
{{/portal-content}}

{{#if showSorting}}
  {{#modal-dialog onClose="toggleSorting" translucentOverlay=true}}
    {{sorting-settings}}

    <p><a role="button" {{action "toggleSorting"}}>Done</a></p>
  {{/modal-dialog}}
{{/if}}

{{#if newSubscriptions}}
  {{#section-header}}New Videos{{/section-header}}
  {{#if settings.channelGroup}}
    {{#each newSubscriptions as |subscription|}}
      {{display-subscription subscription=subscription state="new"}}
    {{/each}}
  {{else}}
    {{#each newItems as |item|}}
      {{display-item item=item}}
    {{/each}}
  {{/if}}
{{/if}}

{{#if laterSubscriptions}}
  {{#section-header}}Watch Later{{/section-header}}
  {{#if settings.channelGroup}}
    {{#each laterSubscriptions as |subscription|}}
      {{display-subscription subscription=subscription state="later"}}
    {{/each}}
  {{else}}
    {{#each laterItems as |item|}}
      {{display-item item=item}}
    {{/each}}
  {{/if}}
{{/if}}

{{#unless anyItems}}
  {{#section-header}}No Videos{{/section-header}}
  <div class="message">
    <p>You've watched everything for now, check again later.</p>
  </div>
{{/unless}}
