{{!-- can't override parent's separator, have to just replace whole title --}}
{{title titleNotification " NoUTube" replace=true}}

<PortalContent @for="menu-bar-extras">
  <a href="#" {{action "toggleSorting"}} title="Sorting settings"><SvgIcon @name="sliders" /></a>
</PortalContent>

{{#if showSorting}}
  <ModalDialog @onClose={{action "toggleSorting"}} @translucentOverlay={{true}}>
    <SortingSettings />

    <p><a role="button" {{action "toggleSorting"}}>Done</a></p>
  </ModalDialog>
{{/if}}

{{#if newSubscriptions}}
  <SectionHeader><SvgIcon @name="gift" /> New Videos</SectionHeader>
  {{#if settings.channelGroup}}
    {{#each newSubscriptions as |subscription|}}
      <DisplaySubscription @subscription={{subscription}} @state="new" />
    {{/each}}
  {{else}}
    {{#each newItems as |item|}}
      <DisplayItem @item={{item}} />
    {{/each}}
  {{/if}}
{{/if}}

{{#if laterSubscriptions}}
  <SectionHeader><SvgIcon @name="bookmark" /> Watch Later</SectionHeader>
  {{#if settings.channelGroup}}
    {{#each laterSubscriptions as |subscription|}}
      <DisplaySubscription @subscription={{subscription}} @state="later" />
    {{/each}}
  {{else}}
    {{#each laterItems as |item|}}
      <DisplayItem @item={{item}} />
    {{/each}}
  {{/if}}
{{/if}}

{{#unless anyItems}}
  <SectionHeader><SvgIcon @name="slash" /> No Videos</SectionHeader>
  <div class="message">
    <p>You've watched everything for now, check again later.</p>
  </div>
{{/unless}}
