{{!-- can't override parent's separator, have to just replace whole title --}}
{{title this.titleNotification " NoUTube" replace=true}}

<PortalContent @for="menu-bar-extras">
  <a role="button" {{action this.toggleSorting}} title="Sorting settings"><SvgIcon @name="sliders" /></a>
</PortalContent>

{{#if this.showSorting}}
  <AppDialog @title="Sorting Settings" @close={{action this.toggleSorting}}>
    <SortingSettings />
  </AppDialog>
{{/if}}

{{#if this.newSubscriptions}}
  <SectionHeader><SvgIcon @name="gift" /> New Videos</SectionHeader>
  {{#if this.settings.channelGroup}}
    {{#each this.newSubscriptions as |subscription|}}
      <DisplaySubscription @subscription={{subscription}} @state="new" />
    {{/each}}
  {{else}}
    {{#each this.newItems as |item|}}
      <DisplayItem @item={{item}} />
    {{/each}}
  {{/if}}
{{/if}}

{{#if this.laterSubscriptions}}
  <SectionHeader><SvgIcon @name="bookmark" /> Watch Later</SectionHeader>
  {{#if this.settings.channelGroup}}
    {{#each this.laterSubscriptions as |subscription|}}
      <DisplaySubscription @subscription={{subscription}} @state="later" />
    {{/each}}
  {{else}}
    {{#each this.laterItems as |item|}}
      <DisplayItem @item={{item}} />
    {{/each}}
  {{/if}}
{{/if}}

{{#unless this.anyItems}}
  <SectionHeader><SvgIcon @name="slash" /> No Videos</SectionHeader>
  <div class="message">
    <p>You've watched everything for now, check again later.</p>
  </div>
{{/unless}}
