<div class="row">
  Sort videos by
  <XSelect @value={{this.videoKey}} @onChange={{this.selectVideoKey}} as |xs|>
    <xs.option @value="age">age</xs.option>
    <xs.option @value="sortableTitle">title</xs.option>
    <xs.option @value="duration">duration</xs.option>
  </XSelect>
  <XSelect @value={{this.videoDir}} @onChange={{this.selectVideoDir}} as |xs|>
    <xs.option @value="asc">ascending</xs.option>
    <xs.option @value="desc">descending</xs.option>
  </XSelect>
</div>

<div class="row">
  <label>
    <Input @type="checkbox" @checked={{this.channelGroup}} />
    Group videos by channel
  </label>
</div>

<div class="row">
  Sort channels by
  <XSelect @value={{this.channelKey}} @onChange={{this.selectChannelKey}} @disabled={{not this.channelGroup}} as |xs|>
    <xs.option @value="sortableTitle">title</xs.option>
    <xs.option @value="totalDuration">total duration</xs.option>
    <xs.option @value="itemCount">number of videos</xs.option>
  </XSelect>
  <XSelect @value={{this.channelDir}} @onChange={{this.selectChannelDir}} @disabled={{not this.channelGroup}} as |xs|>
    <xs.option @value="asc">ascending</xs.option>
    <xs.option @value="desc">descending</xs.option>
  </XSelect>
</div>
