<div class="row">
  Sort videos by
  <XSelect @value={{videoKey}} @onChange={{action "selectVideoKey"}} as |xs|>
    <xs.option @value="age">age</xs.option>
    <xs.option @value="sortableTitle">title</xs.option>
    <xs.option @value="duration">duration</xs.option>
  </XSelect>
  <XSelect @value={{videoDir}} @onChange={{action "selectVideoDir"}} as |xs|>
    <xs.option @value="asc">ascending</xs.option>
    <xs.option @value="desc">descending</xs.option>
  </XSelect>
</div>

<div class="row">
  Sort channels by
  <XSelect @value={{channelKey}} @onChange={{action "selectChannelKey"}} as |xs|>
    <xs.option @value="sortableTitle">title</xs.option>
    <xs.option @value="totalDuration">total duration</xs.option>
    <xs.option @value="itemCount">number of videos</xs.option>
  </XSelect>
  <XSelect @value={{channelDir}} @onChange={{action "selectChannelDir"}} as |xs|>
    <xs.option @value="asc">ascending</xs.option>
    <xs.option @value="desc">descending</xs.option>
  </XSelect>
</div>

<div class="row">
  <label>
    <Input @type="checkbox" @checked={{channelGroup}} />
    Group videos by channel
  </label>
</div>
