<div class="row">
  Sort videos by
  <XSelect @value={{this.videoKey}} @onChange={{action this.selectVideoKey}} as |xs|>
    {{#each videoKeys as |videoKey|}}
      <xs.option @value={{videoKey.value}}>{{videoKey.label}}</xs.option>
    {{/each}}
  </XSelect>
  <XSelect @value={{this.videoDir}} @onChange={{action this.selectVideoDir}} as |xs|>
    {{#each dirs as |dir|}}
      <xs.option @value={{dir.value}}>{{dir.label}}</xs.option>
    {{/each}}
  </XSelect>
</div>

<div class="row">
  <label>
    <Input @type="checkbox" @checked={{this.channelGroup}} />
    Group videos by channel
  </label>
</div>

<div class="row">
  Sort channels by
  <XSelect @value={{this.channelKey}} @onChange={{action this.selectChannelKey}} @disabled={{not this.channelGroup}} as |xs|>
    {{#each channelKeys as |channelKey|}}
      <xs.option @value={{channelKey.value}}>{{channelKey.label}}</xs.option>
    {{/each}}
  </XSelect>
  <XSelect @value={{this.channelDir}} @onChange={{action this.selectChannelDir}} @disabled={{not this.channelGroup}} as |xs|>
    {{#each dirs as |dir|}}
      <xs.option @value={{dir.value}}>{{dir.label}}</xs.option>
    {{/each}}
  </XSelect>
</div>
