<ModalDialog @onClose={{@close}} @translucentOverlay={{true}} @containerClass="app-dialog">
  {{#if @title}}
    <div class="top">
      {{@title}}
    </div>
  {{/if}}

  <div class="middle">
    {{yield}}
  </div>

  <div class="bottom">
    <a role="button" {{action @close}}>Done</a>
  </div>
</ModalDialog>
