<ModalDialog @onClose={{@close}} @translucentOverlay={{true}} @containerClass="app-dialog">
  {{#if @title}}
    <div class="top">
      {{@title}}
    </div>
  {{/if}}

  <div class="middle">
    {{yield}}
  </div>

  {{#if @accept}}
    <div class="bottom">
      <a role="button" {{action @accept}}>{{if @acceptLabel @acceptLabel "Yes"}}</a>
      <a role="button" {{action (if @cancel @cancel @close)}}>{{if @cancelLabel @cancelLabel "No"}}</a>
    </div>
  {{else if @close}}
    <div class="bottom">
      <a role="button" {{action @close}}>Close</a>
    </div>
  {{/if}}
</ModalDialog>
